@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    background: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h2,
h4 {
    font-family: 'Red Hat Display', sans-serif;
    color: var(--Dark-blue) !important;
}

.container2 {
    display: grid;
    grid-template-columns: 330px;
    background-color: #fff;
    place-items: center;
    border-radius: 20px;
    overflow: hidden;
    grid-gap: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    color: hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
}

.containerImg {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.containerImg img {
    max-width: 100%;
    max-height: 100%;
}

.container2 #text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: relative;
    width: 80%;
    height: 110px;
}

.year {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--Very-pale-blue);
}

.year2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10%; */
    gap: 10px;
}

.year2 :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divImg img {
    display: flex;
    align-items: center;
    transform: scale(.6);
}


.change {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
}

button {
    margin: 0 10%;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--Bright-blue);
    color: white;
    box-shadow: 0 8px 0px var(--Pale-blue);
    cursor: pointer;
}

.attribution a {
    text-decoration: none;
    color: var(--Bright-blue);
}

.linkCont {
    font-size: 90%;
    color: var(--Desaturated-blue);
    text-decoration: none;
    margin-bottom: 10px;
}


@media (max-width: 330px) {
    .container2 {
        border-radius: 0;
        height: 100%;
        grid-template-columns: 100%;

    }
}